form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
input {
    border: none;
    background-color: #f4f3ee;
    height: 3.2rem;
    padding: 0 1rem;
    border-radius: 4px;
    width: 100%;
    
}

@media all and (min-width: 600px) {
    input {
      width: 80%;
    }
  }