@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
    
  }

  .homeContainer {
      width: 80%;
      margin: 0 auto;
  }

.buttonPrimary {
    width: fit-content;
    background: #5F0A87;
    padding: .5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 2px;
}

/* Book Item and Result Card */
.cardContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: .5px solid #bcb8b1;
    margin-bottom: .25rem;
    background: #fff;
}
.card {
    display: flex;
    flex-direction: row;
    border: none;
}
.title {
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
}
.coverContainer {
    max-height: 6rem;
    max-width: 4rem;
    overflow: hidden;
    padding: 0 0 .25rem 0;
}
.coverImage {
    height: 100%;
}
.author {
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: .25rem;
}
.identifiers {
    font-size: .65rem;
    font-weight: 300;
    margin: 0;
}
.bookInfo {
    margin: .5rem;
    max-width: 13rem;
}

@media all and (min-width: 768px) {
    body {
        background: #F6F5F4;
    }
    .aboutContainer {
        margin: 3rem auto;
    }
    .homeHeader {
        font-size: 3rem;
        
    }
    .homeAbout {
        font-size: 1rem;
    }
    .cardContainer {
        width: 19rem;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);
        border: none;
    }
    .coverContainer {
        padding: 0;
    }
    .title {
        font-size: 1rem;
    }
    main {
        max-width: 95%;
    }
    input[type="text"] {
        font-size: 1rem;
        background-color: #fff;
    }
    nav {
        font-size: 2rem;
    }
}


