@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;500;600;700&display=swap');


/* App level Styles */
body {
    font-size: 62.5%;
    font-family: 'Montserrat', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}
.navLink {
    color: #BCB8B1;
    margin: 1rem;
    text-decoration: none;
    vertical-align: text-bottom;
}
.homeContainer {
      width: 80%;
      margin: 0 auto;
}
.buttonPrimary {
    background: #5F0A87;
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: .5rem 1rem;
    width: fit-content;
}

/* Library Page */
.libraryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Book Item and Result Card */
.author {
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: .25rem;
}
.bookInfo {
    margin: .5rem;
    max-width: 13rem;
}
.cardContainer {
    background: #fff;
    border-bottom: .5px solid #bcb8b1;
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    width: 100%;
}
.card {
    border: none;
    display: flex;
    flex-direction: row;
}
.deleteButton {
    background: transparent;
    border: none;
    color: #8a817c;
    font-weight: 500;
    font-size: 1rem;
    height: 1.2rem;
    padding: 0 .5rem 0 0;
}
.coverContainer {
    max-height: 6rem;
    max-width: 4rem;
    overflow: hidden;
    padding: 0 0 .25rem 0;
}
.coverImage {
    height: 100%;
}
.identifiers {
    font-size: .65rem;
    font-weight: 300;
    margin: 0;
}
.title {
    font-weight: 700;
    font-size: .9rem;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-transform: capitalize;
}

/* Search Form & Results*/
form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
input[type="text"] {
    background-color: #f4f3ee;
    border-radius: 4px;
    border: none;
    height: 3.2rem;
    font-size: 16px; /* set to 16px to prevent zoom in on input focus on mobile  */
    padding: 0 1rem;
    width: 100%;
}
.resultsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Search Result Card */
.resultContainer {
    border-bottom: .5px solid #bcb8b1;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    width: 95%;
}
.resultTitle {
    font-size: .75rem;
    font-weight: 500;
    margin: 0;
}
.linkButton {
    background: transparent;
    border: none;
    color: #5F0A87;
    font-size: 1rem;
    text-decoration: underline;
}
.successAlert {
    background: transparent;
    border: none;
    color: green;
    font-weight: 700;
}

/* iPad sized media queries */
@media all and (min-width: 768px) {
    .aboutContainer {
        margin: 3rem auto;
    }
    .cardContainer {
        border: none;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);
        width: 19rem;
    }
    .coverContainer {
        padding: 0;
    }
    .homeHeader {
        font-size: 3rem;
    }
    .homeAbout {
        font-size: 1rem;
    }
    input[type="text"] {
        font-size: 1rem;
        
    }
    main {
        max-width: 95%;
    }
    nav {
        font-size: 1.5rem;
    }
    .successAlert {
        font-size: 1rem;
    }
    .title {
        font-size: 1rem;
    }
}

/* Less grid columns on iPad mini sized devices */
@media all and (min-width: 601px) and (max-width: 800px) {
    .libraryContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: 0 auto;
    }
}

/* More grid columns on desktop */
@media screen and (min-width: 801px) {
    .libraryContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: .25rem;
      margin: 0 auto;
  }
  main {
    max-width: 90%;
}
}
