@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
    
  }

.buttonPrimary {
    width: fit-content;
    background: #5F0A87;
    padding: .5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 2px;
}

/* Book Item and Result Card */
.cardContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: .5px solid #bcb8b1;
    margin-bottom: .25rem;
}
.card {
    display: flex;
    flex-direction: row;
    border: none;
}

.title {
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
}
.coverContainer {
    max-height: 6rem;
    max-width: 4rem;
    overflow: hidden;
    padding-bottom: .25rem;
}
.coverImage {
    height: 100%;
}
.author {
    font-weight: 400;
    font-size: .7rem;
    margin-bottom: .25rem;
}
.identifiers {
    font-size: .65rem;
    font-weight: 300;
    margin: 0;
}
.bookInfo {
    margin: .5rem;
    max-width: 13rem;
}

@media all and (min-width: 768px) {
    .cardContainer {
        width: 19rem;
    }
    .title {
        font-size: 1rem;
    }
    main {
        max-width: 95%;
    }
}


