@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600;700&family=Lora&display=swap');

/* base 10 font size */
html {
  font-size: 62.5%; 
}

body {
  margin: 0;
  font-family: 'Libre Franklin', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

