@media (min-width: 600px) {
    nav {
        font-size: 2rem;
    }
}

nav {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.navLink {
    margin: 1rem;
    vertical-align: text-bottom;
    text-decoration: none;
    color: #BCB8B1;
}