@media (min-width: 600px) {
    nav {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }
}

nav {
    display: flex;
    font-size: 1.6rem;
}

.navLink {
    margin: 1rem;
    text-decoration: none;
    color: #BCB8B1;
}